html {
	font-family: sans-serif;
}

.navbar {
	position:relative;
}

form {
	position:relative;
}

.pageBody {
	top:0;
	max-width: 900px;
	height: 100vh;
	position: relative;
	margin-left:auto;
	margin-right:auto;
	padding:0.5em;
}

.meta {
	padding-left:2em;
}

h1 {
	font-size: 1.5em;
}


/*******************
* index formatting *
*******************/

.index h1 {
	color: #77777f;
}

.index ul {
	list-style: none;
	padding-left: 10px;
}



/******************
* form formatting *
******************/

form .input {
	padding:0.5em;
}

form > .title {
	position: relative;
	width: 100%;
	margin-bottom:1em;
}

form > .body {
	position:relative;
	width: 100%;
	height: 300px;
	margin-bottom:1em;
}

form > .submit {
	position:relative;
}

/******************
* view formatting *
******************/



img.floatRight {
	float:right;
}

id="editButton" {
	//position:absolute;
}

#indexLink {

}

#deleteButton {
	position: absolute;
	right:0;
	bottom:0;
}

#articleBody {
	margin-bottom: 1em;
}

.tag {
	position: relative;
	border: 1px solid #428bca;
	font-size: 0.85em;
	padding-left:0.3em;
	padding-right:0.3em;
	padding-top:0.01em;
	padding-bottom:0.001em;
	border-radius:4px;
}

.tag:hover {
	text-decoration: none;
	background-color: #428bca;
	color: #fff;
}