form .input {
	padding:0.5em;
}

form > .title {
	position: relative;
	width: 100%;
	margin-bottom:1em;
}

form > .body {
	position:relative;
	width: 100%;
	height: 300px;
	margin-bottom:1em;
}

form > .submit {
	position:relative;
}