			</div><!--pageBody-->
		</div><!--wrapper-->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	  <script src="/public/js/wysihtml5-0.3.0.min.js"></script>
	  <script src="/public/js/bootstrap3-wysihtml5.all.min.js"></script>
	  <script src="/public/js/bootstrap-tagsinput.min.js"></script>
	  <script type="text/javascript">
			$('.textarea').wysihtml5({
				"html": true,
				"size": "small",
				"img": {
					"check_attributes": {
						"class": "allow"
					}
				}
			});
		</script>
	</body>
</html>