<%include top%>
	<form method="post" action="/articles">
		<input type="text" placeholder="title" name="title" class="title input" rows="15" autofocus required />
		<textarea placeholder="body text" name="body" id="newBody" class="body textarea input" rows="15" required></textarea>
		<input type="text" data-role="tagsinput" name="tags" placeholder="tags" />
		<button type="submit" class="submit btn btn-default">post</button>
	</form>
<%include bottom%>