<%include top%>
	<a href="/articles" id="indexLink">back to index</a>
	<div id="articleList">
		<ul>
			<% articles.forEach(function(article) { %>
				<li>
					<a href="/articles/<%=article.id%>"><%=article.title%></a>
				</li>
			<% }); %>
		</ul>
	</div><!--articleList-->
<%include bottom%>